/* Header */

.fixedheader {
    position: fixed;
    width: 500px;
    height: 200px;
    left: 17%;
    right: 17%;
    z-index: +20;
}

.img_logo {
    width: 200px;
    height: 220px;
}

.img_alerta {
    width: 35px;
    height: 35px;
}

.padi {
    padding-top: 200px;
}

.sombra {
    border-color: rgb(255, 144, 0);
    box-shadow: 0 1px 1px rgba(164, 23, 229, 0.075)inset, 0 0 20px rgba(255, 0, 234, 0.6);
}

input::placeholder {
    color: rgba(255, 123, 0, 0.808);
}


/* tamñaños para el menu pequeño */

.menu-cambia.small img {
    width: 70%;
    height: 70%;
    margin-top: 10px;
}

.menu-cambia.small li {
    margin-top: 100px;
}

.menu-cambia.small a {
    font-family: "Signika-Bold";
}


/* Home */

.notification {
    margin-top: 20px !important;
    margin-left: 20px !important;
}

.padding-10 {
    padding: 10px !important;
}

.padding-3 {
    padding-bottom: 10px !important;
}

.border-radius-5-left {
    border-radius: 5px 0px 0px 5px !important;
}

.border-radius-5-right {
    border-radius: 0px 5px 5px 0px !important;
}

.iconos_absolute {
    position: absolute !important;
    margin-left: -30px !important;
}

.overlap {
    position: absolute !important;
    width: 227px !important;
    height: 297px !important;
    background: rgba(133, 121, 121, 0.2);
    z-index: 9;
}

.overlap-header {
    position: fixed !important;
    width: 100% !important;
    height: 150px !important;
    background-image: url("../imagenes/header.jpg");
    border-color: rgb(255, 144, 0);
    box-shadow: 0 1px 1px rgba(164, 23, 229, 0.075)inset, 0 0 8px rgba(255, 0, 234, 0.6);
    z-index: 12;
}

.zindexfirst {
    z-index: 10 !important;
}

.card-custom {
    width: 227px !important;
    height: 297px !important;
}

.content-custom-width {
    width: 90% !important;
}

.float-right {
    float: right !important;
}

.margin-10 {
    margin: 10px !important;
}

.span-wall {
    font-size: 16px !important;
    font-weight: bold !important;
}

.img-wall {
    padding: 0px 50px 20px 50px !important;
}

.background-opacity {
    background: rgba(75, 185, 133, 0.3);
    z-index: 90000 !important;
}

.cards_event {
    display: flex;
    flex-direction: column;
}

.fondofrutas {
    background-size: 150px;
    background-image: url("../imagenes/home/fondo.png") !important;
    background-repeat: repeat;
}

.size-events {
    width: 70% !important;
    height: 70% !important;
    margin-left: 15% !important;
}


/* Perfil */

body {
    background: white;
    padding: 1px !important;
}

.container {
    padding: 5px !important;
    max-width: 1000px !important;
}

.bio {
    color: #616161 !important;
    height: 400px !important;
}

.titulo {
    font-size: 23px !important;
}


/* Publicaciones */

#file_multi_video {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

#file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

label[for="file_multi_video"] {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 10px 10px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}

label[for="file"] {
    font-size: 12px;
    font-weight: 600;
    color: #fff;
    background-color: #106BA0;
    display: inline-block;
    transition: all .5s;
    cursor: pointer;
    padding: 10px 10px !important;
    text-transform: uppercase;
    width: fit-content;
    text-align: center;
}

.estilo-textarea {
    width: 450px;
    border: 2px solid #990000;
    height: 60px !important;
}

.remark {
    background-color: #F2FDFF;
    border-radius: 20px;
    width: 480px;
    height: 80px;
    text-align: left;
    align-self: center;
    overflow-y: scroll;
}

.fondo {
    background-image: linear-gradient( rgb(255, 255, 255), rgba(255, 255, 255, 0.712)), url(../imagenes/fondo4.jpg);
    background-size: 100%;
    z-index: 100;
    background-attachment: fixed;
}


/* Footer */

.fondo-footer {
    background-image: linear-gradient( rgba(247, 222, 109, 0.486), rgba(255, 255, 255, 0.363)), url(../imagenes/footer.jpg);
    background-size: 30%;
    z-index: 100;
    background-attachment: fixed;
    border-radius: 50px 50px 50px 50px;
    -moz-border-radius: 50px 50px 50px 50px;
    -webkit-border-radius: 50px 50px 50px 50px;
    border: 3px double #f2ae0e;
    margin-bottom: 0px;
}

@font-face {
    font-family: "Signika-Bold";
    src: url("../fonts/Signika-Bold.ttf");
}

.fuente {
    font-family: "Signika-Bold";
}

.contenido {
    position: absolute;
    background: transparent;
    z-index: 2;
    width: 100%
}

.link {
    color: rgb(255, 72, 0);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 16px;
}

.link:hover {
    color: rgb(1, 204, 52);
}

.link2 {
    color: rgb(255, 255, 255);
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    text-shadow: 1px 1px 4px rgb(255, 0, 0);
}

.link2:hover {
    color: rgb(0, 0, 0);
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.separador {
    border-color: #f2ae0e;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

.estilo-fondo-links {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    background-color: rgba(115, 255, 0, 0.08);
}

.estilo-fondo-copyright {
    overflow: hidden;
    min-height: 50px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 10px 0px;
    background-color: rgba(255, 0, 0, 0.08);
}